<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.dontexpectanythingsensible.pairspro" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pairs</name>
    <description>
        A memory game - match the pairs of shapes in the fewest moves possible!
    </description>
    <author email="hello@jamestease.co.uk" href="http://jamestease.co.uk">
        James Tease
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/logo.png" />
    <allow-navigation href="https://*.jamestease.co.uk/*" />
    <allow-navigation href="https://play.google.com/*" />
    <allow-navigation href="https://twitter.com/*" />
    <preference name="orientation" value="portrait" />
    <engine name="ios" spec="^4.4.0" />
</widget>
