body {
    background: #f2d8b3;
}

#game {
    display: block;
    margin: auto;
    width: 360px;
}

p {
    width: 360px;
    font-size: 1.2rem;
    margin: 0 auto 1.5rem;
}

.description {
    margin-top: 3em;
    font-size: 1.7rem;
    line-height: 2rem;
}

.credits {
    text-align: right;
    margin-bottom: 0;
}

h2 {
    width: 360px;
    margin: 0.5rem auto 1.4rem;
}

a,
a:visited {
    display: inline-block;
    background: #372409;
    color: white;
    padding: 2px;
    text-decoration: none;
    margin: 0 0 2px;

    &:hover {
        background: #624111;
    }
}
